/* SIDE MENU  */
.sideMenu{
    height: 80%;
    width: 0;
    position: fixed;
    z-index: 1;         /* Esta propiedad si esta en 1 significa que si se superpone a algún item, estará por encima. */
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden; 
    transition: 0.5s;
    padding-top: 20px;
}
.sideMenu > p:first-of-type{
    padding: 8px 4px 8px 32px;
    font-size: 30px;
    color: whitesmoke;
    display: block;
    transition: 0.4s;
}
.sideMenu a{
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: whitesmoke;
    display: block;
    transition: 0.4s; 
}
.sideMenu a:hover{
    color: gray
}
.sideMenu .closeMenu{
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}
.cabecera  span{
    color: whitesmoke;
    margin-left: 5px;
    font-size: 30px;
    cursor: pointer;
}
.sideMenu  p:last-child{
    color: whitesmoke;
    padding: 8px 8px 8px 32px;
    font-size: 14px;
    position: relative;
    top: 35vh;
    transition: 0.4s;
}
/* MESSAGE MENU */
.messageMenu{
    height: 0;
    width: 0;
    position: fixed;
    z-index: 1;         /* Esta propiedad si esta en 1 significa que si se superpone a algún item, estará por encima. */
    top: 50px;
    left: 50px;
    background-color: black;
    overflow-x: hidden; 
    transition: 0.5s;
    padding-top: 20px;
}
.messageMenu p{
    padding: 8px 4px 8px 32px;
    font-size: 16px;
    color: whitesmoke;
    display: block;
    transition: 0.4s;
}
.messageMenu a:hover{
    color: gray;
}
#textImp{
    margin: 2em;
    font-size: 16px;
    color: black;
    display: block;
    transition: 0.4s; 
}
#sendMsg{
    margin-left: 2em;
} 
.messageMenu .closeMessage{
    position: absolute;
    color: whitesmoke;
    font-size: 25px;
    top: 0;
    right: 25px;
    margin-left: 50px;
}
/* El ícono del avión está en el html porque desde aquí no podía editarlo/*
/* RESTO DE HEADER, título, categorias, carrito y barra de busqueda*/
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 60em;
}
.cabecera{
    margin-top: -1.2em;
    background-color: black;
    color: whitesmoke;
    position: fixed;
    left: 0.1px;
    width: 100%;
    height: 10%;

}
.cabecera > h1{
    display:inline-block;
    font-size: 36px;
    margin-left: 0.7em;
}
.cabecera p{
    display: inline-block;
    position: relative;
    bottom: 5px;
    margin-left: 1em;
    color: white;
    font-size: 20px;
}
.cabecera a{
    display: inline-block;
    font-size: 18px;
    padding: 0.2em;
    margin-bottom: 2em;
    color: black;
    text-decoration: none;
    position: relative;
    left: 25vw;
    bottom: 0.5vw;
    border: white outset 2px;
    border-radius: 15px;
    background-image: linear-gradient(whitesmoke, lightgray);
}
.cabecera a:hover{
    background-image: linear-gradient(black, gray);
    color: white;
}
#cart .fa{
    font-size: 35px;
    position: relative;
    left: 26.5vw;
    bottom: 0.3vh;
}
#cart .fa:hover{
    color: gray;
}
#barraBusqueda{
    float: right;
    padding: 6px;
    border-radius: 15px;
    border: none;
    margin-top: 1.1em;
    margin-right: 2em;
    font-size: 25px;
}
/* FIN DEL HEADER, EMPIEZA EL CONTENIDO*/
.mainContainer{
    padding-top: 6em;
    margin:auto;
    width: fit-content;
    height: 800em;
    height: 42.5em;
    top: 10vh;
}
.banner{
    width: 58.1em;
    height: 16em;
    margin-left: 9em;
    background-image: url(KUATREMA_BANNER.png);
    background-repeat: no-repeat;
    background-size:contain;
}
.mainContainer > h1{
    position: relative;
    left: 28%;
    text-indent: 10px;
    letter-spacing: 2rem;
}
.mainContainer > h1 {
    animation: glow 1s infinite alternate;
}
@keyframes glow {
    to {
        text-shadow: 0 0 10px fuchsia ;
    }
}
.featuredProducts{
    margin-top: 1em;
    width: 64.5em;
    height: 23em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1em;
}

#producto1{
    height: 23em;
    width: 18em;
    background-image: url(KUATREMA_TEARS.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
}
#producto2{
    height: 23em;
    width: 18em;
    background-image: url(KUATREMA_X_GROOVY.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#producto3{
    height: 23em;
    width: 18em;
    background-image: url(KUATREMA_BIGBRAIN.png);
    background-size:cover;
    background-repeat: no-repeat;
}
/* OVERLAY DE PRODUCTOS Y SU DESC*/
.overlay {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 95%;
    height: 0;
    transition: .5s ease;
    display: flex;
  }
  .overlay1{
    background-color: #c22f789a;
    margin-left: -0.6em;
    padding-right: 4px;
  }
  .overlay2{
    background-color: #622fc29a;
  }
  .overlay3{
      padding-right: 0.9em;
    background-color: #df47189a;
  }
  .producto{
      cursor: pointer;
  }
  .producto:hover .overlay {
    height: 20%;
  }

  .desc {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    text-align: center;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
/* FIN DEL CONTENIDO, EMPIEZA EL FOOTER */
.piePag{
    background-color: black;
    color: whitesmoke;
    position: fixed;
    bottom: 0px;
    left: -2em;
    width: 100%;
    padding-right: 3em;
    height: 18vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(KUATREMA_CIRCLE.png);
    background-size: 7em 6em;
    background-repeat: no-repeat;
    background-position:47vw;
}
.opciones{
    display: flex;
    flex-direction: column;
    padding-left: 3em;
}
.sesion{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 7m;
    right: 5em;
}
.opciones p, .sesion p{
    color: whitesmoke;
    margin-bottom: -0.8em;
    font-size: 16px;
}
.opciones p:hover,.sesion p:hover{
    color: gray;
    cursor: pointer;
}
.icons{
    display: flex;
    flex-direction: row;
    gap:1em;
    color: whitesmoke;
    font-size: 30px;
    position: fixed;
    bottom: 1.5em;
    right: 2em;
    
}
.icons i:hover{
    color: gray;
    cursor: pointer;
}